<footer class="mt-auto">
    <hr style="margin-top: 0; padding-top: 0;">

    <div class="container">
        <!-- Site links -->
        <div class="row">
            <div class="col-xl-2">
                <h2 class="scilife-footer-titles">Site navigation</h2>
                <ul class="list-unstyled scilife-footer-text">
                    <li><a href="{{ relURL "" }}">About</a></li>
                    <li><a href="{{ relURL "get-access" }}">Get access</a></li>
                    <li><a href="{{ relURL "contact" }}">Contact us</a></li>
                    <li><a href="{{ relURL "terms" }}">Terms of use</a></li>
                    <li><a href="{{ relURL "privacy" }}">Privacy policy</a></li>
                </ul>
            </div>


            <!-- Explanation about the site and more -->
            <div class="col-xl-5">
                <h2 class="scilife-footer-titles">About SciLifeLab OMERO</h2>
                <p>
                    The SciLifeLab OMERO prototype service is developed and operated by the SciLifeLab Data Centre. 
                    Members of the team are affiliated with 
                    <a href="https://www.scilifelab.se/data/" target="_blank">SciLifeLab Data Centre</a> and 
                    <a href="https://www.chalmers.se/en/infrastructure/ecommons/" target="_blank">Chalmers e-Commons</a>, 
                    based at Chalmers University and Uppsala University. This service is supported by SciLifeLab 
                    and the Knut and Alice Wallenberg foundation through the Data-Driven Life Science (DDLS) program, 
                    as well as by the Swedish Foundation for Strategic Research (SSF).
                </p>
            </div>


            <div class="col-xl-5">
                <!-- Funders etc... part -->
                <h2 class="scilife-footer-titles mb-2">Supported by</h2>

                <a href="https://kaw.wallenberg.org/en" target="_blank" style="text-decoration: none;">
                    <img fetchpriority="low" class="scilife-footer-img" src="{{ relURL "img/logos/kaw_logo.webp" }}"
                        data-light-src="{{ relURL "img/logos/kaw_logo.webp" }}" data-dark-src="{{ relURL "img/logos/kaw_logo_dark.webp" }}"
                        alt="Logo for the Knut and Alice Wallenberg Foundation">
                </a>
                <a href="https://strategiska.se/en/" target="_blank" style="text-decoration: none;">
                    <img fetchpriority="low" class="scilife-footer-img" src="{{ relURL "img/logos/sfsr_logo.webp" }}"
                        data-light-src="{{ relURL "img/logos/sfsr_logo.webp" }}" data-dark-src="{{ relURL "img/logos/sfsr_logo_dark.webp" }}"
                        alt="Logo for the Swedish Foundation for Strategic Research">
                </a>
                <a href="https://www.scilifelab.se/" target="_blank" style="text-decoration: none;">
                    <img fetchpriority="low" class="scilife-footer-img" src="{{ relURL "img/logos/scilifelab_logo.svg" }}"
                        data-light-src="{{ relURL "img/logos/scilifelab_logo.svg" }}" data-dark-src="{{ relURL "img/logos/scilifelab_logo_dark.webp" }}"
                        alt="SciLifeLab's Logo">
                </a>

            </div>
        </div>

        <!-- CC BY 4.0 requires naming the creator, source and licence, and
             stating that the material was modified. -->
        <p class="scilife-image-credit mt-3 mb-0">
            Background imagery: imaging mass cytometry of human tonsil tissue by Durand M
            <em>et al.</em>, &ldquo;Human lymphoid organ cDC2 and macrophages play complementary
            roles in T follicular helper responses&rdquo;,
            <a href="https://doi.org/10.1084/jem.20181994" target="_blank">J Exp Med 2019</a>.
            From the <a href="https://idr.openmicroscopy.org/webclient/?show=project-701" target="_blank">Image
            Data Resource</a> (study idr0054), licensed
            <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a>.
            Cropped, denoised and channel display colours changed.
        </p>

    </div>
</footer>
